@supports (-ms-ime-align: auto) {
	/* Microsoft EdgeV13&14 CSS styles go here */
	html {
		background-color: white;
		padding: 0;
		margin: 0;
		width: 100%;
		padding: 0;
	}
	body {
		background-color: white;
		margin: 0;
		padding-bottom: 600px;
		overflow: hidden;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10 & IE11 CSS styles go here */
	html {
		background-color: white;
		padding: 0;
		margin: 0;
		width: 100%;
		padding: 0;
	}
	body {
		background-color: white;
		margin: 0;
		padding-bottom: 600px;
		overflow: hidden;
	}
}
html {
	background-color: black;
}
header {
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
	animation-fill-mode: forwards;
	-webkit-animation: fadein 4s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 4s;
	/* Firefox < 16 */
	-ms-animation: fadein 4s;
	/* Internet Explorer */
	-o-animation: fadein 4s;
	/* Opera < 12.1 */
	animation: fadein 4s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Firefox < 16 */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Internet Explorer */

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Opera < 12.1 */

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
header video {
	width: 100%;
}
.video-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
svg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	filter: invert();
}
svg text {
	font-family: "Futura Bk BT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 700;
	text-transform: lowercase;
	font-size: 48px;
	left: 100px;
}
svg rect {
	fill: white;
}
svg>rect {
	-webkit-mask: url(#mask);
	mask: url(#mask);
}
.info {
	margin: 0 auto;
	width: auto;
	padding: 10px;
	margin-top: 1vw;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
	font-family: "Futura Bk BT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-animation: 3.5s fadein;
	/* Safari, Chrome and Opera > 12.1 */
	-webkit-animation-delay: 3.5s;
	-moz-animation: 3s fadein;
	/* Firefox < 16 */
	-ms-animation: 3s fadein;
	/* Internet Explorer */
	-o-animation: 3s fadein;
	/* Opera < 12.1 */
	animation: 3s fadein;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Firefox < 16 */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Internet Explorer */

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Opera < 12.1 */

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
h1 {
	font-size: calc(16px + 3vw);
	font-weight: normal;
	color: #93A4BE;
	margin-bottom: 0.5vw;
}
h2 {
	font-size: calc(10px + 1vw);
	font-weight: normal;
	color: white;
	margin-bottom: 4vw;
}
h3 {
	font-size: calc(8px + 1vw);
	font-weight: normal;
	color: #bbb;
	margin-bottom: 1vw;
}
.contact {
	margin: auto;
	width: 400px;
	margin-top: 20px;
}
.contact img {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	color: white;
	width: 2vw;
	max-width: 30px;
}
.info a {
	color: #ccc;
	text-decoration: none;
	margin: 0;
	-o-transition: color .2s ease-out, background 1s ease-in;
	-ms-transition: color .2s ease-out, background 1s ease-in;
	-moz-transition: color .2s ease-out, background 1s ease-in;
	-webkit-transition: color .2s ease-out, background 1s ease-in;
	/* ...and now override with proper CSS property */
	transition: color .2s ease-out, background 1s ease-in;
}
.info a:hover {
	color: #8393A7;
}
/* Bob */

@-webkit-keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob {
	0% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@-webkit-keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
@keyframes hvr-bob-float {
	100% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}
.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
