html,
body {
	font-size: 14px !important;
	background-color: black;
}
body {
margin: 0;
}
::-webkit-scrollbar { 
    display: none; 
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.824em;
	color: #FCCB44;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}
@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}
/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}
/*  Pen Specific Styles */
.jumbotron {
	font-size: 16px;
	@media (min-width: 62em) {
		font-size: 20px;
	}
	h1 {
		border-bottom: 4px solid #0275d8;
	}
	p.lead {
		border-radius: 4px;
	}
}
/* Start of fade css*/
/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;
}

.fade-in.four {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
	
.fade-in.five {
-webkit-animation-delay: 2.5s;
-moz-animation-delay:2.5s;
animation-delay: 2.5s;
}
	
.fade-in.six{
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}

.fade-in.seven{
-webkit-animation-delay: 3.5s;
-moz-animation-delay: 3.5s;
animation-delay: 3.5s;
}

.fade-in.eight{
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Start of laurel fade css*/
@-webkit-keyframes fadeInLaurel { from { opacity:0; } to { opacity:0.6; } }
@-moz-keyframes fadeInLaurel { from { opacity:0; } to { opacity:0.6; } }
@keyframes fadeInLaurel { from { opacity:0; } to { opacity:0.6; } }

.laurel {
-webkit-animation:fadeInLaurel ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
-moz-animation:fadeInLaurel ease-in 1;
animation:fadeInLaurel ease-in 1;

-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}
.laurel.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
	
.laurel.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
	
.laurel.three {
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;
}

.laurel.four {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
	
.laurel.five {
-webkit-animation-delay: 2.5s;
-moz-animation-delay:2.5s;
animation-delay: 2.5s;
}
	
.laurel.six{
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}

.laurel.seven{
-webkit-animation-delay: 3.5s;
-moz-animation-delay: 3.5s;
animation-delay: 3.5s;
}

.laurel.eight{
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}

/* End of fade css*/

/* Start of Hover button css*/
.hvr-grow  a {
	color: #ccc;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	-o-transition: color .2s ease-out, background 1s ease-in;
	-ms-transition: color .2s ease-out, background 1s ease-in;
	-moz-transition: color .2s ease-out, background 1s ease-in;
	-webkit-transition: color .2s ease-out, background 1s ease-in;
	/* ...and now override with proper CSS property */
	transition: color .2s ease-out, background 1s ease-in;
}
.hvr-grow  a:hover {
	color: #8393A7;
}
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Shrink */
.hvr-shrink {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* End of Hover button css*/
/* Start of Float css */
  .float-info {
	color: rgba(240, 240, 240, 0.5);
	line-height: 1.1em;
	font-variant: small-caps;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 500;

}
/* Start of Button css */
.btn-clear {
	background-color: rgba(0, 0, 0, 0);
	color: #FCCB44;
	font-variant: small-caps;
	box-shadow: 0;
	border: 0;
	padding: 0;
}
.btn-clear:hover {
	color: hsla(0, 0%, 100%, 0.70);
	font-variant: small-caps;
	border: 0;
	box-shadow: 0;
	border: 0;
	padding: 0;
}
.btn-clear:active {
	background-color: rgba(0, 0, 0, 0);
	font-variant: small-caps;
	border: 0;
	box-shadow: 0;
	border: 0;
	padding: 0;
}
/* End of button css */
/* Start of Header Parallax Element Style*/
.paral {
	min-height: 300px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	}
.section {
	min-height: 300px;
	position: relative;
}

/* End of Header Parallax Element Style*/	
/* Start of section css */
/* Start of S1 css */
#scroll-btn a {
	padding-top: 70px;
  }
  #scroll-btn a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: scroll-btn 1.5s infinite;
	animation: scroll-btn 1.5s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sscroll-btn {
	0% {
	  -webkit-transform: rotate(-45deg) translate(0, 0);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  -webkit-transform: rotate(-45deg) translate(-20px, 20px);
	  opacity: 0;
	}
  }
  @keyframes scroll-btn {
	0% {
	  transform: rotate(-45deg) translate(0, 0);
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  transform: rotate(-45deg) translate(-20px, 20px);
	  opacity: 0;
	}
  }
  
/* Start of video css */
.video-container {

} 

.video-container:before {
content: '';
position: absolute;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
border-radius: 5px;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
} 
.video-container:before:hover {
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
filter: alpha(opacity=80);
opacity: 0.8;
}

video {
max-width: 1800px;
width: 100%;
display: block;
margin: auto;
z-index: 0;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
opacity: 1;
}
/* End of video css */
/* End of S1 css */
#leshomardsimmortels {
	background-image: url("../img/leshomards.jpg");
	height: 100vh;
}
#springtide {
	background-image: url("../img/SpringtideOutlook.jpg");
	height: 100vh;
}
#anna {
	background-image: url("../img/anna.jpg");
	height: 100vh;
}
#labellerosine {
	background-image: url("../img/labellerosine_2.jpg");
	height: 100vh;
}
/* End of section css */

/* Start of movieinfo css */
.movieinfo {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 10vh;
	margin-left: 5vw;
}
.movieinfo h2 {
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 100;
}
.movieinfo h4 {
	color: white;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.movieinfo button {
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 500;
}
/* End of movieinfo css */
/* Start of modal css */
body.modal-open .supreme-container {
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);	
}
body.example-gallery-open #leshomardsimmortelsModal {
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);	
}
.modal-title {
	color: #FCCB44;
	line-height: 1em;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.btn-invis {
	height: 7em;
	width: 52vw;
	background-color: rgba(0, 0, 0, 0);
}

.modal {
	
}

.modal-content {
	margin-right: 20px;
	padding-right: 20px;
	background-color: rgba(0, 0, 0, 0);

}
.modal-content h2 {
	color: #FCCB44;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 100;
}
.modal-content h3 {
	color: #FCCB44;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.summary {
	color: hsla(0, 0%, 100%, 0.94);
	text-align: justify;
	font-size: 1.1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.credits {
	line-height: 1.3em;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	letter-spacing: 0.05em;
	font-size: 1em;
	font-variant: small-caps;
}
.function {
	font-weight: 100;
	color: hsla(0, 0%, 100%, 0.74);
}
.names {
	color: hsla(0, 0%, 100%, 0.94);
	font-weight: 300;
}
.modal-content img {
	margin-bottom: 15px;
}
.modal-footer button {
color: #FCCB44;
}
/* End of modal css */
/* Start of laurel css */
.laurel {
	width:5vw;
	max-width: 200px;
	opacity:0;  /* make things invisible upon start */

}
.close {
	
}