---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from 'astro:transitions';
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" data-theme="kate">
 
  <head>
    <BaseHead title={title} description={description} image={image} />    
  </head>

  <body>
      <Header transition:animate="none" />
      <ClientRouter />
      <main id="" class="overflow-hidden">
        <slot />
      </main>
      <Footer /> 

      <!-- Animate On Scroll -->
      <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script is:inline>
        AOS.init({
          easing: 'ease',
        });
      </script>

  </body>
</html>