---
const { image, alt } = Astro.props;
---
<section class="overflow-hidden">
    <img
        src={image}
        loading="lazy"
        alt={alt}
        class="w-full h-auto"
        data-lightbox
    />
</section>
