---
import { Image, Picture } from '@astrojs/image/components';
const { title, coverimage, synopsis, image1, image2, image3, image4, image5, image6, image7, image8, image9, image10, image11, image12 = '_blank' } = Astro.props;

---
<div class="hero min-h-screen relative bg-[-300px_center] lg:bg-[center_center]" style={{backgroundImage: `url(${coverimage})`}}>
    <div class="hero absolute bottom-0 py-10 bg-black/50 text-white grid">
        <div class="max-w-lg w-auto place-self-center text-center mt-5 mx-10">
            <h1 class="text-5xl p-3 font-bold">{title}</h1>
            <p class="text-xl py-3">{synopsis}</p>  
            <div class="flex justify-center items-center py-3">
                <img class="animate-bounce h-10 w-10" src="/svg/arrowdown.svg" />
            </div>
        </div>
    </div>
</div>
<!--end of credits-->
<!--start of credits-->
<div class="hero" >
    <div class="hero-content grid grid-cols-1 lg:grid-cols-6 items-start">           
        <table class="table-auto border-separate border-spacing-x-3 col-start-1 lg:col-start-1 col-span-1 lg:col-span-2">
            <tbody>
                <tr>
                    <td class="text-right font-light">Director</td>
                    <td class="text-left font-bold">Kate Voet</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Cast</td>
                    <td class="text-left font-bold">Lydia Injova</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Jakub Kotynski</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Producer</td>
                    <td class="text-left font-bold">Songs in the Dark</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Co-producer</td>
                    <td class="text-left font-bold">Eyeworks</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Peter Bouckaert</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Assistant Director</td>
                    <td class="text-left font-bold">Jelle Maseman</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Niko Himschoot</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Cinematographer</td>
                    <td class="text-left font-bold">Victor Maes</td>
                </tr>
                <tr>
                    <td class="text-right font-light">First Assistant Camera</td>
                    <td class="text-left font-bold">Jan-Willem Rouwhorst</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Michiel Lateur</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Second Assistant Camera</td>
                    <td class="text-left font-bold">Aileen Vandenbroele</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Anthony Veiten</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Gaffer</td>
                    <td class="text-left font-bold">Dieter Roelens</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Electrician</td>
                    <td class="text-left font-bold">Fenna Maas</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Aaron Veys</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Eva Somers</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Gillis Kornelis</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold ">Dennis Kussener</td>
                </tr>
            </tbody>
        </table>
        <table class="table-auto border-separate border-spacing-x-3 col-start-1 lg:col-start-3 col-span-1 lg:col-span-2">
            <tbody>
                <tr>
                    <td class="text-right font-light">Key Grip</td>
                    <td class="text-left font-bold">Jonas Glassee</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Stijn Deprez</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Steadicam</td>
                    <td class="text-left font-bold">Loic Dillen</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Art Director</td>
                    <td class="text-left font-bold">Maud Gyssels</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Set Dresser</td>
                    <td class="text-left font-bold">Robin Hendrix</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Dries Vanoirbeek</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Sophie May</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Make-up</td>
                    <td class="text-left font-bold">Lena Dobbels</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Marlies van Rompay</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Costume Design</td>
                    <td class="text-left font-bold">Heide Winne</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Costumer</td>
                    <td class="text-left font-bold">Fauve Ryckebusch</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Catherine Bourda</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Script</td>
                    <td class="text-left font-bold">Oscar Schutz</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Editing</td>
                    <td class="text-left font-bold">Ewin Ryckaert</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Sound Recording</td>
                    <td class="text-left font-bold">Yanna Soentjens</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Boom Operator</td>
                    <td class="text-left font-bold">Vincent Somers</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Sound Design</td>
                    <td class="text-left font-bold">Tijn Hazen</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Sound Effect Editor</td>
                    <td class="text-left font-bold">Taco Drijfhout</td>
                </tr>
            </tbody>
        </table>    
        <table class="table-auto border-separate border-spacing-x-3 col-start-1 lg:col-start-5 col-span-1 lg:col-span-2">
            <tbody>

                <tr>
                    <td class="text-right font-light">Dialogue Editor</td>
                    <td class="text-left font-bold">Max van den Oever</td>
                </tr>
                <tr>
                    <td class="text-right font-light">ADR</td>
                    <td class="text-left font-bold">Fred de Geus</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Foley</td>
                    <td class="text-left font-bold">Elias Vervecken</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold ">Stephane Werner</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Music</td>
                    <td class="text-left font-bold">Senjan Jansen</td>
                </tr>
                <tr>
                    <td class="text-right font-light">VFX</td>
                    <td class="text-left font-bold">Elke Dhaese</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Title Design</td>
                    <td class="text-left font-bold">Titles</td>
                </tr>
                <tr>
                    <td class="text-right font-light">Location</td>
                    <td class="text-left font-bold">Luna Marie Bogaert</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Djurre van Dijck</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Neil De Cock</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Annabelle van Campenhout</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Wout de Coster</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Wim Geerts</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Geert Maes</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Lennert Lefevre</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Ann Nooyens</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Jente Pijpers</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Nina van Belle</td>
                </tr>
                <tr>
                    <td class="text-right font-light"></td>
                    <td class="text-left font-bold">Lucas Gortemaker</td>
                </tr>
            </tbody>
        </table>  
    </div>  
</div>
<!--end of credits-->  
