---
const { YoutubeLink } = Astro.props;
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<section class="p-5" data-aos="fade-up" data-aos-duration="600">
    <center>
        <h3 class="text-secondary p-5">Trailer</h3>
        <YouTube id={YoutubeLink} />
    </center>
</section>