---
const { image, alt } = Astro.props;
---
<section class="hero" data-aos="fade-up">    
    <img
        src={image}
        loading="lazy"
        alt={alt}
        class="w-full h-auto"
    />
</section>