---
const today = new Date();
---

<footer class="footer footer-center text-secondary bg-neutral/80 block py-5">
  <div class="">
    <a href="/">
    &copy; {today.getFullYear()} Victor Maes 🎥
    </a>
  </div>
</footer>