<div class="navbar fixed top-0 z-50 bg-black/80">
  <div class="navbar-start">
    <div class="dropdown">
      <button class="btn btn-ghost btn-circle" aria-label="Open menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="#F1D74E" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </button>
      <ul class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-black/80 rounded-box w-52 text-base-100">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
  </div>
  <div class="navbar-end">
  </div>
</div>