<div class="navbar fixed top-0 z-50 bg-neutral/60">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 " fill="none" viewBox="0 0 24 24" stroke="#F1D74E"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>      
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-black/60 rounded-box w-52 text-base-100">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
  </div>
  <div class="navbar-end">
  </div>
</div>