---
import ArrowDownIcon from '@astropub/icons/ArrowDown'
---


<div class="hero relative min-h-screen min-w-screen bg-black" >
        <a class="swipebox" rel="vimeo" href="http://www.vimeo.com/256040751">
			<video autoplay loop muted playsinline preload="auto"
			  class="w-100 hvr-grow fade-in one embed-responsive embed-responsive-16by9" poster="video/SeeThrough.jpg">
			  <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
			  <source type="video/mp4" src="video/SeeThrough.mp4" />
			  <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
			  <source type="video/webm" src="video/SeeThrough.webm" />
			  <!-- Gif as backup -->
			  <img src="video/seethrough.gif" alt="gif heading" />
			  <!-- Image as a last resort -->
			  <img src="video/seethrough.jpg" width="320" height="240" title="No video playback capabilities" />
			  Your browser does not support the video
			  
			</video>
			<p class="hero-content font-thin lowercase font-sans tracking-wide  text-slate-400">Click to see my showreel</p>
		  </a>    
		  <ArrowDownIcon size="25" fill="cyan" class="animate-bounce absolute bottom-20" alt="arrow down" />    
</div>
