---
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" data-theme="lofi">
 
  <head>
    <BaseHead title={title} description={description} image={image} />    
  </head>

  <body class="bg-black ">
      <Header transition:animate="none" />
      <ViewTransitions />
      <main id="" class="bg-neutral overflow-hidden" >
        
        <slot />
      </main>
      <Footer /> 

  </body>
</html>

