---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Spa } from "astro-spa";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" data-theme="lofi">
 
  <head>
    <BaseHead title={title} description={description} image={image} />    
  </head>

  <body class="">
      <Header />
      <Spa />
      <main id="" class="overflow-hidden">
        <slot />
      </main>
      <Footer /> 

  </body>
</html>

