/* Start of init */
html {
  height: 100vh; /* set viewport constraint */
  min-height: 100% !important; /* enforce height */
}
html,
body {
  font-size: 14px !important;
  background-color: white;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 1.602em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-variant: small-caps;
}
h2 {
  font-size: 1.824em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 200; 
}
h3 {
  font-size: 1.266em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 0.889em;
}
h6 {
  font-size: 0.79em;
}
.display-1 {
  font-size: 3.906em;
}
.display-2 {
  font-size: 3.125em;
}
.display-3 {
  font-size: 2.5em;
}
.display-4 {
  font-size: 2em;
}
@media (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
}
/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
  html,
  body {
    font-size: 16px !important;
  }
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
  html,
  body {
    font-size: 18px !important;
  }
}
/* End of init */

/* Start of sections */
.section {
  height:100%;
  position:absolute;
  width:100%;
}
  #section1 {
    background-size: cover;

  }

  #section1 {
    background-image: url(../img/marblebg.jpg);
    background-position: 0% center;
    padding: 0 0 0 0;
  }


  /* End of sections */

/* Start of fade css*/
/* make keyframes that tell the start state and the end state of our object */



/* Firefox */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari and Chrome */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
​

/* Opera */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.9;
  -moz-animation-delay: 1.9;
  animation-delay: 1.9s;
}

/* End of fade css*/


img {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

img:hover {
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  filter: grayscale(20%);
  filter: grayscale(20%);
  
}

/* Start of button css*/

.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2664aa;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Start of video css */
.logo {
  max-width: 500px;
}
/* End of video css */